.container {
    background-color: rgba(84, 190, 150, 0.1);
    background-image: linear-gradient(
      330deg,
      rgba(84, 190, 150, 0.15) 15%,
      rgba(255, 255, 255, 1) 65%
    );
    height: 100vh;
    margin: 0 auto;
    padding: 0 35px;
  }
  
  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 78px;
  }

  @media screen and (max-width: 1115px) {
    .contentWrapper {
      flex-direction: column;
      gap: 20px;
    }
    
  }