.container {
    max-width: 226px;
    margin-bottom: 32px;
  }
  
  .filterTitle {
    margin-bottom: 8px;
    color: var(--color-gray);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
  }
  
  .customSelect {
    position: relative;
  }
  
  .selectSelected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 16px 18px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 14px;
    max-height: 48px;
  }
  
  .selectItems {
    position: absolute;
    background-color: var(--color-white);
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 14px;
    z-index: 99;
    margin-top: 8px;
    box-shadow: 0px 20px 69px 0px rgba(0, 0, 0, 0.07);
  }
  
  .selectItem {
    padding: 10px;
    cursor: pointer;
    color: rgba(25, 26, 21, 0.3);
    transition: var(--animation);
  }
  
  .selectItem:hover {
    color: var(--color-black);
  }