.favoriteTitle {
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: var(--family);
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: black;
}
 @media screen and (max-width:695px) {
  .favoriteTitle {
    margin-top: 64px;
  }
 }

.favoriteImg {
  border-radius: 20px;
  width: 250px;
  justify-self: center;
  background-color: transparent;
}
